@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Red Hat Text';
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-green: var(--clr-green);

  --font-sans: "Red Hat Text", sans-serif;
}

:root {
  --clr-red: #c73b0f;
  --clr-rose-900: #260f08;
  --clr-rose-500: #87635a;
  --clr-rose-400: #ad8a85;
  --clr-rose-300: #caafa7;
  --clr-rose-100: #f5eeec;
  --clr-rose-50: #fcf8f6;
  --clr-green: #1ea575;

  --radius: 0.625rem;
  --background: var(--color-rose-50);
  --foreground: var(--color-rose-900);
  --card: oklch(1 0 0);
  --card-foreground: var(--color-rose-900);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--clr-red);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: var(--color-rose-500);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--clr-rose-400);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-preset-1{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.text-preset-2{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
}

.text-preset-3{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.text-preset-4{
  font-size: 0.875rem;
  line-height: 1.5;
}

.text-preset-4-bold{
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 600;
}